body{
    background-color: beige;
}
h1{
    background-color: beige;
    color: rgb(116, 53, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
h2{
    background-color: beige;
    color: rgb(116, 53, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: -4px;
}
h3{
    background-color: beige;
    color: rgb(116, 53, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 3%;
    margin-left: 5px;
    text-align:inherit;
}
#main{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.avatar img{
    position:static;
    top: -24px;
    left: 5%;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(116, 53, 28);
    margin: 1%;
    margin-right: 30px;
    margin-left: 30px;
}
.ficha{
    background-color: rgb(241, 224, 203);
    width: 360px;
    height: 170px;
    padding: 28px;
    box-sizing: border-box;
    border: 2px solid rgb(116, 53, 28);
    border-radius: 10px;
    text-align: justify;
    font-size: 12px;
}
.extras{
    margin: 6%;
    margin-left: 190px;
    margin-bottom: 40px;
    margin-top: -5px;
    width: 350px;
    height: 100px;
    box-sizing: border-box;
    padding: -20px;
}
#secondbox{
    display: flex;
    justify-content: right;
}
.experience{
    box-sizing: border-box;
    width: 600px;
}
p{
    background-color: beige;
    color: rgb(116, 53, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
li{
    color: rgb(116, 53, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}