body{
    background-color: beige;
    background: rgb(245,245,220);
    background: radial-gradient(circle, rgba(245,245,220,0) 0%, rgba(234,216,185,1) 100%);
}
h1{
    color: rgb(116, 53, 28);
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
h2{
    color: rgb(116, 53, 28);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: -4px;
}
h3{
    color: rgb(116, 53, 28);
    font-family: 'Raleway', sans-serif;
}
h4{
    color: rgb(116, 53, 28);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 3%;
    margin-left: 5px;
    text-align:inherit;
}
#main{
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.avatar img{
    position:static;
    top: -24px;
    left: 5%;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgb(116, 53, 28);
    box-shadow: 10px 10px 2px 1px #a3a2a2;
    margin: 1%;
    margin-right: 30px;
    margin-left: 30px;
}
.ficha{
    background-color: rgb(241, 224, 203);
    width: 380px;
    height: 150px;
    padding: 28px;
    box-sizing: border-box;
    box-shadow: 12px 12px 2px 1px #a3a2a2;
    border: 2px solid rgb(116, 53, 28);
    border-radius: 10px;
    text-align: justify;
    font-size: 12px;
    display: flex;
}
.extras{
    margin-left: -10px;
    margin-bottom: 90px;
    margin-top: -300px;
    width: 350px;
    height: 100px;
    box-sizing: border-box;
    top: 100%;
    position: absolute;
}
.secondbox{
    display: flex;
    justify-content: right;
    margin-left: 30px;
}
.experience{
    box-sizing: border-box;
}
p{
    color: rgb(116, 53, 28);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
li{
    color: rgb(116, 53, 28);
    font-family: 'Raleway', sans-serif;
}
.parent{
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}
.data{
    font-family: 'Raleway', sans-serif;
    padding-left: var(--icon-space);
}
.data:before{
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}